--base DB changes
connect to $base_db_name ;
set schema $base_db_user ;

alter table tenantinfo add column opt_flags bigint with default 0;
reorg table tenantinfo;
update tenantinfo set TENANTDBVERSION='22.0.1', bacaversion='22.0.1';

connect reset;
